.navbar {
	background-color: black;
	direction: flex ;
}

.container {
	display: inline-block;
	position: relative;
}

.container a {
	direction: flex;
	position: relative;
	bottom: 3em;
	left:5em;
	background-color:#8F0005;
	border-radius:1.5em;
	color:white;
	text-transform:uppercase;
	padding-left: 1em;
	padding-right: 1em;
}

@media screen (max-width: 360px) {
	.projects {
		width: 100%;
		display: block;
		margin-left: 4px;  
		margin-top: 10px;
		float: right;
	}
}
